# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# BUILD / CACHE
# =========================
dist/
build/
coverage/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# =========================
# LOG
# =========================
*.log
